/* DESIGNED AND DEVELOPED BY ME: CHRISTIAN DAVID TREASURE - PROFESSIONAL FRONT-END DEVELOPER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&family=Manrope:wght@400;600&family=Urbanist:wght@400;600&family=Space+Grotesk:wght@400;600&display=swap');

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    background-color: #0a0a0a;
}

.entry-screen {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .entry-container {
    text-align: center;
    padding: 2rem;
    background: #111;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.4);
  }
  
  .entry-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .entry-btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .join {
    background: orange;
    color: black;
  }
  
  .free {
    background: #444;
    color: white;
  }
  