/* DESIGNED AND DEVELOPED BY ME: CHRISTIAN DAVID TREASURE - PROFESSIONAL FRONT-END DEVELOPER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Inter:wght@400;600&family=Manrope:wght@400;600&family=Urbanist:wght@400;600&family=Space+Grotesk:wght@400;600&display=swap');

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
    background-color: #0a0a0a;
}

